[Desktop Entry]
Name=Universal Battery Limiter
Comment=Battery charge limit management for all compatible laptops
Exec=universal-battery-limiter.battery-gui
Icon=${SNAP}/meta/gui/battery-limiter.png
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=battery;charge;limit;laptop;power;management;
StartupNotify=true
X-GNOME-Autostart-enabled=false
X-Ubuntu-Gettext-Domain=universal-battery-limiter
